.boton{
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--primary);
    color: var(--text);
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.boton:hover{
    /* font-weight: bold; */ 
    /* color: var(--text); */
    /* background-color: var(--accent); */
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; 
}