.grid {
    display: grid;
    min-height: 100vh;
    min-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 2fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
        'header header header'
        'main main main'
        'footer footer footer';
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: solid 1px var(--secondary);
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}