.card{
    padding: 1rem;
    border: solid 1px var(--secondary);
    border-radius: 10px;
    /* border-style: dashed; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .8rem;
    max-width: 300px; /*hace que cuando el texto de la card es muy largo, no se estire indefinidamente */
}

.contenedorCards{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.imgProducto{
    height: 300px;
    width: 300px;
    object-fit: cover;  
    align-self: center; /*hace que cuando el texto de la card es muy largo, la img quede en el medio de la card */
    border-radius: 5px;
}

.tituloYFav{
    display: flex;
    justify-content: space-between;
}