.boton{
    padding: .5rem;
    font-size: 1rem;
    align-items: center;
    width: auto;
    border: none;
    cursor: pointer; 
    width: 30px; /*ancho fijo */
    text-align: center;
    /* background-color: var(--light-grey); */
    /* border-radius: 5px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.boton:hover{
    transform: scale(1.01);
    /* background-color: var(--grey); */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; 
}