.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.navLink:hover {
    background-color: var(--accent);
    transition: background-color 1s;
}

