.contenedor{
    margin: auto;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: row;
    /* gap: 3rem; */
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between
;}

.img{
    height: auto;
    max-width: 300px;
    /* object-fit: cover;   */
    border-radius: 5px;
    padding-right: 3rem;
}

.precio{
    padding-top: 5rem;
}
