.divBotoncitosMasMenos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.divBotoncitosMasMenos p {
    width: 30px; /* ancho fijo */
    text-align: center;
}

.divBotoncitosMasMenos button {
    width: 50px; /* ancho fijo */
    text-align: center;
}