/* CSS RESET */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    min-height: 100vh;

    /* VARIABLES */
    --text-dark: #00282c;
    --text-light: #f4f9fa;
    --background-white: #ffffff;    
    --background: #f4f9fa;
    --light-grey:#ebebeb;
    --grey: #bfc3c4;
    --background2: #bfc3c4; /*ir cambiando background2 por grey*/
    --primary: #ff2ecb;
    --primary-light: rgb(255, 46, 203, 0.25);
    --secondary: #ff6461;
    --accent: #deff4d;
}

html {
    font-family: 'Inter', sans-serif;
    /* font-size: 62.5%; */
    /*=1em=10px*/
    font-size: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    color: var(--text);
    background-color: var(--background);
}

body {
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}

ul,
ol {
    list-style: none;
    marker: none;
}

h1{
    font-weight: 700;
}

h2,
h3,
h4,
h5 {
    font-weight: 600;
}

h1 {
    font-size: 4.210rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

small {
    font-size: 0.7rem;
}