/* CSS RESET */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    /* Opcion 1: */
    /* --text: #050b0c;
    --background: #f1f8fa;
    --primary: #219ebc;
    --secondary: #8fcede;
    --accent: #ffb703; */

    /* Opcion 2: */
    --text: #002529;
    --background: #f4f9fa;
    --background2: #bfc3c4;
    --primary: #ff2ecb;
    --secondary: #ff6461;
    --accent: #deff4d;
}

html {
    font-family: 'Inter', sans-serif;
    /* font-size: 62.5%; */
    /*=1em=10px*/
    box-sizing: border-box;
    min-height: 100vh;
    color: var(--text);
    background-color: var(--background);
}

body{
    min-height: 100vh;
}

#root{
    min-height: 100vh;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}

a:hover {
    /* font-weight: bold; */
    background-color: var(--accent);
    /* color: var(--background); */
}

ul,
ol {
    list-style: none;
    marker: none ;
}

*{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}