.card {
    padding: 1rem;
    border: solid 1px var(--background);
    background-color: var(--light-grey);
    /* border-radius: 10px; */
    /* border-style: dashed; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .8rem;
    max-width: 150px; /*hace que cuando el texto de la card es muy largo, no se estire indefinidamente */
    word-break: break-word; /*rompe las palabras*/
}

.card:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out; 
}

.img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    align-self: center;
    /*hace que cuando el texto de la card es muy largo, la img quede en el medio de la card */
    border-radius: 100px;
    background-color: var(--grey);
}

.texto{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}